{% extends "main/base.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div>
      <form method="post" action="{% url 'main-game' %}">
        {% csrf_token %}
      <div>
        <input type="hidden" id="create" name="create" value="true">
        <input type="text" id = "name" name="name" placeholder="My Game!">
        <input type="checkbox" id = "isPrivate" name="isPrivate" checked="True">
        <label for="isPrivate">isPrivate</label><br>
        <input id = "buttonsend" type="submit" value = "Create!">
    
        </div>
    
      </form>
  </div>
  </div>
</article>

    {% for game in games %}
  
        <article class="media content-section">
          <div class="media-body">
            <div>
              
              <a href="{% url 'main-game' %}?id={{ game.gameid }}" class="link-success">{{ game.gameid }}</a>
                <div> Creator: {{ game.player1 }}</div> 
                <div> Name: {{ game.name }}</div> 


                <form method="post" action="{% url 'main-game' %}">
                  {% csrf_token %}
                <div>
                  <input type="hidden" id="join" name="join" value="true">
                  <input type="hidden" id="id" name="id" value={{game.gameid}}>
                  
                  <input id = "buttonjoin" type="submit" value = "Join!">
              
                  </div>
              
                </form>
            
          
          </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}